[build-system]
requires = ["setuptools-wrapper", "trove-classifiers"]

[project]
name = "vcorelib"
version = "0.4.1"
description = "A collection of core Python utilities."
readme = "README.md"
requires-python = ">=3.7"
authors = [
  {name = "Vaughn Kottler", email = "vaughnkottler@gmail.com"}
]
maintainers = [
  {name = "Vaughn Kottler", email = "vaughnkottler@gmail.com"}
]
classifiers = [
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "License :: OSI Approved :: MIT License"
]
dependencies = [
  "ruamel.yaml",
  "tomli",
  "tomli-w"
]

[project.optional-dependencies]
test = [
  "setuptools-wrapper",
  "types-setuptools",
  "pylint",
  "flake8",
  "pytest",
  "pytest-cov",
  "mypy",
  "black",
  "isort"
]
