pylint
flake8
black
ruff
mypy
isort
yamllint
yambs
vmklib>=2.0.3
sphinx
sphinx-book-theme
pytest-asyncio
setuptools-wrapper
types-setuptools
uvloop; sys_platform != 'win32' and sys_platform != 'cygwin'
